.App {
  text-align: center;
}

.homebutton {
  background-color: rgb(5, 197, 255);
  height: 50px;
  margin-bottom: 50px;
}

.homebutton-icon {
  height: 45px;
  padding: 5px;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.beer-card {
  margin: 5px;
  max-width: 1000px;
  max-height: 45vh;
  min-width: 50vw;
  min-height: 30vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.beer-img {
  max-height: 27vh;
  max-width: 20vw;
  margin: 10px 0 10px 0;
}

.new-beer-form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.linkBtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #177cc0b4;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.2rem - 1px);
  margin-top: 5px;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.linkBtn:hover,
.linkBtn:focus {
  background-color: #db2b39ff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.linkBtn:hover {
  transform: translateY(-1px);
}

.linkBtn:active {
  background-color: #be0202;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
